<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product show page</title>
</head>

<p th:text="${product.getId()}">VALUE</p>
<p th:text="${product.getName()}">VALUE</p>
<p th:text="${product.getArticle()}">VALUE</p>
<p th:text="${product.getSupplier()}">VALUE</p>
<p th:text="${product.getType()}">VALUE</p>
<p th:text="${product.getWarehouse()}">VALUE</p>

<br/>

<a href="/products"> All products</a>

<a th:href="@{/products/{id}/edit(id=${product.getId()})}"> Edit</a>

<form th:method="DELETE" th:action="@{/products/{id}(id=${product.getId()})}">
    <input type="Submit" value="Delete">
</form>
</body>
</html>